Makefile.in
aclocal.m4
autom4te.cache/
bin/Makefile.in
cmake/Makefile.in
compile
config.guess
config.sub
configure
depcomp
libxtiff/Makefile.in
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
man/Makefile.in
man/man1/Makefile.in
missing
.deps/
Makefile
bin/.deps/
bin/Makefile
cmake/Makefile
config.log
config.status
geo_config.h
libtool
libxtiff/.deps/
libxtiff/Makefile
man/Makefile
man/man1/Makefile
stamp-h1
*.o
*.lo
*.la
.libs/
bin/applygeo
bin/geotifcp
bin/listgeo
bin/makegeo
